body{
    margin-top: 10px;
    background-color:white;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

head{
    margin-top: 100px;
    margin-bottom: 100px;
}

.portifolio{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 300px;
    background-color: #F6CEE3;
    
}

.img_projetos{
    
    margin-top: 30px;
    margin-bottom: 30px;
    width: 300px;
    

}

.carreira{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 300px;
    background-color: #F6CEE3;
}

footer{
    margin-top: 100px;
}

.sobremim{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 300px;
    background-color: #F6CEE3;

}
.navbar{
    background-color:lightpink;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 450px;
}

.img_sobremim{
    margin-top: 20px;
}

.formacao{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 300px;
    background-color: #F6CEE3;

}