body{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: violet;
    background-image: url(IMG/planofundo.jpg);
    background-size: 2000px;
}

.portifolio{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 300px;
        
}





footer{
    margin-top: 100px;
}

.sobremim{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 300px;
   
}
.navbar{
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 450px;
    
    
}

.img_sobremim{
    margin-top: 20px;
    
}

.formacao{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 300px;
    
}

.contato{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 300px;
    
    
}
