body{
   
    background-image: url(IMG/poster_1591416699616.jpg);
    background-size: 1000px;
    background-position: 100%;
    background-position: center;
    background-attachment: fixed;
   text-align: left;

   
    
}

#portifolio{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 300px;
   
        
}



.navbar{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 450px;
    font-family: 'Indie Flower', cursive;
    color:  black;
    text-align: left;
    
}

.navbar p{
    text-align: left;
}

#sobremim label img{
   
    margin-top: 20px;
    width:110px;
    height:190px;
    padding: 20px 10px 10px 20px;
    
}

#formacao label{
    text-align: c;
    align-items: center;
    
}

#contato{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 30px;
    
    display: flex;
    justify-content: right;
    text-align: right;
    
}

#contato label img{
    width: 30px; 
    height: 30px;   
    
    align-items: left;
    
    
}

#contato label a{
    display: inline;
    text-align: left;
}

#body p{
    text-align: left;
    font-style: normal ;
}